pipeline/GetMetadat.json
{
	"name": "GetMetadat",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dschilditems",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"exists",
						"childItems",
						"lastModified",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_storemetadata]",
					"storedProcedureParameters": {
						"exist": {
							"value": {
								"value": "@activity('Get Metadata1').output.exists",
								"type": "Expression"
							},
							"type": "String"
						},
						"filename": {
							"value": {
								"value": "@activity('Get Metadata1').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"filesize": {
							"value": {
								"value": "@activity('Get Metadata1').output.size",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsmetadata",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-05-29T04:01:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}